{%- requirePermission "hub:payruns" -%}

{%- extends 'staff-management/_layouts/hub-cp.twig' -%}

{%- set content -%}

    <div id="payrun-container"></div>

{%- endset -%}


{% js %}
    window.validation = {{ {
        "error": error ?? ''
    }|json_encode|raw }}
{% endjs %}

{%- block foot -%}
    {{ parent() }}
    {%- set tagOptions = {
        'depends': [
            'percipiolondon\\staff\\assetbundles\\staff\\StaffAsset'
        ]
    } -%}
    {{  craft.staff.register('src/js/payrun-payrundetail.ts', false, tagOptions, tagOptions) }}
{%- endblock -%}