{%- requirePermission "hub:pay-runs" -%}

{%- extends 'staff-management/_layouts/hub-cp.twig' -%}

{%- set content -%}

    <div id="employer-container"></div>

{%- endset -%}

{%- block foot -%}
    {{ parent() }}
    {%- set tagOptions = {
        'depends': [
            'percipiolondon\\staff\\assetbundles\\staff\\StaffAsset'
        ]
    } -%}
    {{  craft.staff.register('src/js/employers.ts', false, tagOptions) }}
{%- endblock -%}