{%- requirePermission "hub:payruns" -%}

{%- extends 'staff-management/_layouts/hub-cp.twig' -%}

{%- set content -%}

    <h2>{{ "Index CP Section body goes here"|t('staff-management') }}</h2>

    <div id="payrun-container">

    </div>

{%- endset -%}

{%- block foot -%}
    {{ parent() }}
    {%- set tagOptions = {
        'depends': [
            'percipiolondon\\staff\\assetbundles\\staff\\StaffAsset'
        ]
    } -%}
    {{  craft.staff.register('src/js/payrun.ts', false, tagOptions, tagOptions) }}
{%- endblock -%}