{%- requirePermission 'hub:plugin-settings' -%}

{%- extends 'staff-management/_layouts/hub-cp.twig' -%}

{%- set content -%}

    <div class="md:flex items-start">
        <div class="flex-grow pr-4 mb-0">
            <div class="flex items-center">
                <div class="flex items-center mb-0">
                    <h1 class="text-xl font-semibold text-gray-900">
                        Fetching data from Staffology to sync with our system
                    </h1>
                </div>
            </div>
            <p class="mt-2 text-sm text-gray-700">
                Be aware to <strong>not</strong> run it each minute. This can stress out the servers and causes timeouts.
            </p>
        </div>
    </div>

    <div class="w-full mt-8">
        <div id="fetch-container"></div>
    </div>

{%- endset -%}

{%- block foot -%}
    {{ parent() }}
    {%- set tagOptions = {
        'depends': [
            'percipiolondon\\staff\\assetbundles\\staff\\StaffAsset'
        ]
    } -%}
    {{  craft.staff.register('src/js/fetch.ts', false, tagOptions) }}
{%- endblock -%}