{%- import "_includes/forms" as forms -%}

<h2>Group Critical Ilness Cover</h2>

{{ forms.dateField({
    label: "Rate Review Guarantee Date"|t('staff-management'),
    id: 'rateReviewGuaranteeDate',
    name: 'benefitTypeGroupCriticalIllnessCover[rateReviewGuaranteeDate]',
    value: type ? type.benefitTypeGroupCriticalIllnessCover["rateReviewGuaranteeDate"] : '',
    errors: errors['rateReviewGuaranteeDate'] ?? null,
    autofocus: true,
    required: true,
}) }}

{%- set costingBasisOptions = [
    {
        label: 'Choose a costing basis',
        value: null
    },
    {
        label: 'Unit Rated',
        value: 'unit'
    },
    {
        label: 'SP Costed',
        value: 'sp'
    },
] -%}
{{ forms.selectField({
    label: "Costing Basis"|t('staff-management'),
    id: 'costingBasis',
    name: 'benefitTypeGroupCriticalIllnessCover[costingBasis]',
    value: type ? type.benefitTypeGroupCriticalIllnessCover["costingBasis"] ?? '' : '',
    options: costingBasisOptions,
    errors: errors['costingBasis'] ?? null,
    required: false,
}) }}