{%- import "_includes/forms" as forms -%}

<hr/>

<h2>Private Medical Insurance specific fields</h2>

{%- set underwritingBasisOptions = [
    {
        label: 'Choose a basis',
        value: null
    },
    {
        label: 'Moratorium',
        value: 'moratorium'
    },
    {
        label: 'Medical History Disregarded',
        value: 'medical-history-disregarded'
    },
    {
        label: 'Full Medical Underwriting',
        value: 'full-medical-underwriting'
    },
] -%}
{{ forms.selectField({
    label: "Underwritting Basis"|t('staff-management'),
    id: 'arrBenefitTypePrivateMedicalInsurance[underwritingBasis]',
    name: 'arrBenefitTypePrivateMedicalInsurance[underwritingBasis]',
    value: fields ? fields["underwritingBasis"] ?? '' : '',
    options: underwritingBasisOptions,
    errors: errors['underwritingBasis'] ?? null,
    required: false,
}) }}

{{ forms.textField({
    label: "Hospital List"|t('staff-management'),
    id: 'arrBenefitTypePrivateMedicalInsurance[hospitalList]',
    name: 'arrBenefitTypePrivateMedicalInsurance[hospitalList]',
    value: fields ? fields['hospitalList'] : '',
    errors: errors['hospitalList'] ?? null,
    required: false,
}) }}