{%- requirePermission "hub:group-benefits" -%}

{%- extends 'staff-management/_layouts/hub-cp.twig' -%}

{%- set sidebar -%}
    {%- include "staff-management/benefits/_nav" -%}
{%- endset -%}

{%- block actionButton -%}
    {%- include "staff-management/_atoms/buttons/button--primary" with {
        options: {
            title: 'Create Group Benefit Type',
            url: url('staff-management/benefits/group-benefits/new')
        }
    } -%}
{%- endblock -%}

{%- set content -%}

    <div></div>

{%- endset -%}

{%- block foot -%}
    {{ parent() }}
{%- endblock -%}