{%- set pluginCpUrl = url('staff-management') -%}

<nav>
    <ul>
        <li>
            {%- set benefitProvidersUrl = pluginCpUrl ~ '/benefits/providers' -%}
            <a href="{{- benefitProvidersUrl -}}" title="Benefit Providers" class="{{- benefitProvidersUrl in craft.app.request.absoluteUrl ? 'sel' : '' -}}">
                <span class="label">Benefit Providers</span>
            </a>
        </li>
        <li>
            {%- set benefitProvidersUrl = pluginCpUrl ~ '/benefits/employers' -%}
            <a href="{{- benefitProvidersUrl -}}"title="Employers" class="{{- (benefitProvidersUrl in craft.app.request.absoluteUrl or 'variants' in craft.app.request.absoluteUrl) ? 'sel' : '' -}}">
                <span class="label">Employers</span>
            </a>
        </li>
    </ul>
</nav>